.login {
    min-height: 100%;
    height: 100%;
    /* background linear-gradient(right bottom , #f4f7f7, #e1e8ec); */
    background: linear-gradient(to left bottom ,  #f4f7f7, #e1e8ec);
    position: relative;

    &__container {
        background: #fff;
        width: 400px;
        min-height: 400px;
        border: 1px solid #ddd;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 15px rgba(0,0,0, .1);
        border-radius: 3px;
    }

    &__title {
        padding: 10px 20px;
    }

    &__heading {
        color: #0f2139;
    }

    &__sub-heading {
        color: #666;
    }

    &__body {
        padding: 10px 20px;
    }

    &__btn {
        background: linear-gradient(to right, #34a2f6, #3c88fc);
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        border: none;
        font-size: 16px;
        transition: all .3s;

        &:focus {
            outline: none;
            transform: translateY(2px);
        }
        &:hover {
            box-shadow: 0px 10px  50px 10px rgba(#3c88fc, .2);

        }
    }

}
mat-icon {
    margin-right: 10px;
}

mat-form-field {
    margin: 0 !important;
}

.api_error_message {
    margin: 0;
    color: red;
}

.login__btn {
    width: 100%;
}

.register_link {
    color: blue;
}

.register_link:hover {
    cursor: pointer;
}

.registration {
    text-align: center;
}

// @keyframes spinner {
//     to {transform: rotate(360deg);}
//   }
   
//   .spinner:before {
//     content: '';
//     box-sizing: border-box;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 20px;
//     height: 20px;
//     margin-top: -10px;
//     margin-left: -10px;
//     border-radius: 50%;
//     border: 2px solid #ffffff;
//     border-top-color: #000000;
//     animation: spinner .8s linear infinite;
//   }