<div class="login">
  <div class="login__container">
    <div class="login__title">
      <h2 class="login__heading">Login</h2>
      <p class="login__sub-heading">Login to continue</p>
      <p *ngIf="message" class="api_error_message">{{ message }}</p>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" class="login__body">
      <mat-form-field>
        <input [(ngModel)]="user.email" matInput type="text" placeholder="Enter your email">
        <mat-icon matPrefix>perm_identity</mat-icon>
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.email">{{err | titlecase}}</p>
      <mat-form-field>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input [(ngModel)]="user.password" matInput type="password" placeholder="Enter your password">
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.password">{{err | titlecase}}</p>
      <div>
        <button mat-button color="primary" [class.spinner]="loading | async" [disabled]="loading | async"
          class="login__btn" (click)="login()" value="Login">Login</button>
      </div>
      <div class="registration">
        <p>Not yet a member? <span routerLink="/register" routerLinkActive="active" class="register_link">Register
            here</span></p>
      </div>
    </div>
  </div>
</div>