.main-footer {
    background: #f5f5f5;
    color: rgb(96,96, 96);
    border-top: solid 1px rgba(0,0,0,.12);
    padding: 15px 20px;
    p {
        margin: 0px;
        font-size: 17px;
        float: right;
        a{
            color: #3169ff;
            text-decoration: none;
        }
    }
}