<aside class="side-menu">
    <ul class="side-menu__content" fxLayout="column">
        <li class="side-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a mat-button routerLink="/dashboard" class="side-menu__link"><mat-icon class="side-menu__link-icon">dashboard</mat-icon>Dashboard</a></li>
        <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/dashboard/talents" class="side-menu__link"><mat-icon class="side-menu__link-icon">people</mat-icon>Talents</a></li>
        <!-- <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/dashboard/forms" class="side-menu__link"><mat-icon class="side-menu__link-icon">insert_comment</mat-icon>Forms</a></li>
        <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/dashboard/buttons" class="side-menu__link"><mat-icon class="side-menu__link-icon">picture_in_picture</mat-icon>Buttons</a></li> -->
        <li class="side-menu__item" (click)="logout()" routerLinkActive="active"><a mat-button class="side-menu__link"><mat-icon class="side-menu__link-icon">exit_to_app</mat-icon>Logout</a></li>
    </ul>
</aside> 
        