<mat-toolbar>Talents</mat-toolbar>
<!-- <section class="simple-table">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>Simple Table</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef >Id</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell  *matHeaderCellDef >First Name</th>
                        <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef>Last Name</th>
                        <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element"><a href="mailto:{{element.email}}" target="_top">{{element.email}}</a></td>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef>Gender</th>
                        <td mat-cell *matCellDef="let element">{{element.gender}}</td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef>Age</th>
                        <td mat-cell *matCellDef="let element">{{element.age}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </app-ui-card-body>
    </app-ui-card>
</section> -->
<section class="advanced-table">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>Lists of Talents</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body *ngIf="talentLoading$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </app-ui-card-body>
        <app-ui-card-body *ngIf="talentLoaded$ | async">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div class="table-container">
                <table mat-table [dataSource]="dataSourceAdvancedTable">
                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef>Firstname</th>
                        <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef>Lastname</th>
                        <td mat-cell *matCellDef="let element">{{element.last_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="alias">
                        <th mat-header-cell *matHeaderCellDef>Alias</th>
                        <td mat-cell *matCellDef="let element">{{element.alias}}</td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef>Age</th>
                        <td mat-cell *matCellDef="let element">{{element.age}}</td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let element">{{element.price}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAdvanced"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumnsAdvanced;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </app-ui-card-body>
    </app-ui-card>
</section>