<header class="main-header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" >
    <button href="#" (click)="sideMenuToggle($event)" mat-icon-button  class="main-header__sidenav-toggle"><mat-icon>menu</mat-icon></button>
    <a routerLink="/dashboard" class="main-header__logo">MANG ROMULO</a>
    <ul class="main-header__right-menu">
        <li>
            <button href="#"  [matMenuTriggerFor]="menu" mat-icon-button color="#fff"><mat-icon>perm_identity</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Logout</button>
            </mat-menu>
        </li>
    </ul>
</header>