.register {
    min-height: 100%;
    height: 100%;
    /* background linear-gradient(right bottom , #f4f7f7, #e1e8ec); */
    background: linear-gradient(to left bottom ,  #f4f7f7, #e1e8ec);
    position: relative;

    &__container {
        background: #fff;
        width: 400px;
        min-height: 400px;
        border: 1px solid #ddd;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 15px rgba(0,0,0, .1);
        border-radius: 3px;
    }

    &__title {
        padding: 10px 20px;
    }

    &__heading {
        color: #0f2139;
    }

    &__sub-heading {
        color: #666;
    }

    &__body {
        padding: 10px 20px;
    }

    &__btn {
        background: linear-gradient(to right, #34a2f6, #3c88fc);
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        border: none;
        font-size: 16px;
        transition: all .3s;

        &:focus {
            outline: none;
            transform: translateY(2px);
        }
        &:hover {
            box-shadow: 0px 10px  50px 10px rgba(#3c88fc, .2);

        }
    }

}
mat-icon {
    margin-right: 10px;
}

.register__btn {
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field {
    margin-bottom: 0 !important;
}

.login {
    color: blue;
}

.login:hover {
    cursor: pointer;
}