<div class="register">
  <div class="register__container">
    <div class="register__title">
      <h2 class="register__heading">Register</h2>
      <p class="login__sub-heading">I already have an account. <span routerLink="/login" routerLinkActive="active" class="login">Login</span></p>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" class="register__body">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input [(ngModel)]="user.first_name" matInput type="text" placeholder="Firstname">
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.first_name">{{err | titlecase}}</p>
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input [(ngModel)]="user.last_name" matInput type="text" placeholder="Lastname">
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.last_name">{{err | titlecase}}</p>      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input [(ngModel)]="user.email" matInput type="text" placeholder="Enter your email">
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.email">{{err | titlecase}}</p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input [(ngModel)]="user.password" matInput type="password" placeholder="Password">
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.password">{{err | titlecase}}</p>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input [(ngModel)]="user.confirm_password" matInput type="password" placeholder="Confirm password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-icon matPrefix>accessibility_new</mat-icon>
        <mat-select [(ngModel)]="user.gender">
          <mat-option value="MALE">MALE</mat-option>
          <mat-option value="FEMALE">FEMALE</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="api_error_message" *ngFor="let err of errors.gender">{{err | titlecase}}</p>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-icon matPrefix>supervised_user_circle</mat-icon>
        <mat-select [(ngModel)]="user.role">
          <mat-option value="MANAGER">MANAGER</mat-option>
          <mat-option value="CUSTOMER">CUSTOMER</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button (click)="register()" [class.spinner]="loading | async" [disabled]="loading | async" mat-button color="primary" class="register__btn" value="register">Register</button>
      </div>
    </div>
  </div>
</div>